body {
    height: 100vh;
    width: 100vw;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
    font-size: 38px;
}

.state:hover{
    fill: rgb(13, 241, 89);
}
.legend-div {
    display: inline-block;
    margin-left: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.legend-div p{
    display: inline-block;
    display: flex;
    margin-top: 55px;
    font-size: 20px;
}



.legend-container {
    fill: white;
    opacity: .9;
}